<p id="notice"><%= notice %></p>

<h1>Student Memos</h1>

<table>
  <thead>
    <tr>
      <th>生徒名</th>
      <th>エニアグラム</th>
      <th>CT数</th>
      <th>通塾校</th>
      <th>学年</th>
      <th>志望校</th>
      <th>教科</th>
      <th>テキスト名</th>
      <th>回数</th>
      <th>記録</th>
      <th>作成日</th>
      <th>更新日</th>
      <th>指導時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_memos.each do |student_memo| %>
      <tr>
        <td><%= student_memo.student_name %></td>
        <td><%= student_memo.ennea %></td>
        <td><%= student_memo.ct_times %></td>
        <td><%= student_memo.going_school %></td>
        <td><%= student_memo.grade %></td>
        <td><%= student_memo.preferred_school %></td>
        <td><%= student_memo.subject %></td>
        <td><%= student_memo.textbook %></td>
        <td><%= student_memo.textbook_number %></td>
        <td><%= student_memo.record %></td>
        <td><%= student_memo.created_at %></td>
        <td><%= student_memo.updated_at %></td>
				<% if student_memo.duration >= 300 %>
					<td><font color=red><%= student_memo.duration %></font></td>
			<% else %>
        <td><%= student_memo.duration %></td>
			<% end %>
        <td><%= link_to '見る', student_memo %></td>
        <td><%= link_to '編集', edit_student_memo_path(student_memo) %></td>
        <td><%= link_to '削除', student_memo, method: :delete, data: { confirm: 'ホンマに消してもええんか？' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<br>

<%= link_to 'New Student Memo', new_student_memo_path %>


		<p>
		<%= link_to 'トップ', root_path %>
		</p>
