<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @grammer_lv1.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @grammer_lv1.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @grammer_lv1.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @grammer_lv1.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @grammer_lv1.q5 %>
</p>

<%= link_to 'Edit', edit_grammer_lv1_path(@grammer_lv1) %> |
<%= link_to 'Back', grammer_lv1s_path %>
