<p id="notice"><%= notice %></p>

<h1>冬期講習時間計算(2016)</h1>

<table>
  <thead>
    <tr>
      <th>生徒名</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>12月</th>
      <th>1月</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winters.each do |winter| %>
      <tr>
        <td><%= winter.student_name %></td>
        <td><%= winter.mon %></td>
        <td><%= winter.tue %></td>
        <td><%= winter.wed %></td>
        <td><%= winter.thr %></td>
        <td><%= winter.fri %></td>
				<td><font color=red><%=	winter.sum_12 %></font></td>
				<td><font color=red><%=	winter.sum_01 %></font></td>
        <td><%= link_to '見る', winter %></td>
        <td><%= link_to '編集', edit_winter_path(winter) %></td>
        <td><%= link_to '削除', winter, method: :delete, data: { confirm: '削除すると、再度新規作成が必要です。よろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規生徒 時間計算', new_winter_path %>
