%h1= @post.title
%p= @post.link
%p= @post.description 

= link_to "編集", edit_post_path(@post)
= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除してもよろしいですか？"}
= link_to "SNSトップ", posts_path

