<p id="notice"><%= notice %></p>

<p>
  <strong>生徒名:</strong>
  <%= @pexam.student_name %>
</p>

<p>
  <strong>English score 16 1:</strong>
  <%= @pexam.english_score_16_1 %>
  <strong>English dev 16 1:</strong>
  <%= @pexam.english_dev_16_1 %>
</p>

<p>
  <strong>English score 16 2:</strong>
  <%= @pexam.english_score_16_2 %>
  <strong>English dev 16 2:</strong>
  <%= @pexam.english_dev_16_2 %>
</p>

<p>
  <strong>English score 16 3:</strong>
  <%= @pexam.english_score_16_3 %>
  <strong>English dev 16 3:</strong>
  <%= @pexam.english_dev_16_3 %>
</p>

<p>
  <strong>English score 16 4:</strong>
  <%= @pexam.english_score_16_4 %>
  <strong>English dev 16 4:</strong>
  <%= @pexam.english_dev_16_4 %>
</p>

<p>
  <strong>Math1 score 16 1:</strong>
  <%= @pexam.math1_score_16_1 %>
  <strong>Math1 dev 16 1:</strong>
  <%= @pexam.math1_dev_16_1 %>
</p>

<p>
  <strong>Math1 score 16 2:</strong>
  <%= @pexam.math1_score_16_2 %>
  <strong>Math1 dev 16 2:</strong>
  <%= @pexam.math1_dev_16_2 %>
</p>

<p>
  <strong>Math1 score 16 3:</strong>
  <%= @pexam.math1_score_16_3 %>
  <strong>Math1 dev 16 3:</strong>
  <%= @pexam.math1_dev_16_3 %>
</p>

<p>
  <strong>Math1 score 16 4:</strong>
  <%= @pexam.math1_score_16_4 %>
  <strong>Math1 dev 16 4:</strong>
  <%= @pexam.math1_dev_16_4 %>
</p>

<p>
  <strong>Math2 score 16 1:</strong>
  <%= @pexam.math2_score_16_1 %>
  <strong>Math2 dev 16 1:</strong>
  <%= @pexam.math2_dev_16_1 %>
</p>

<p>
  <strong>Math2 score 16 2:</strong>
  <%= @pexam.math2_score_16_2 %>
  <strong>Math2 dev 16 2:</strong>
  <%= @pexam.math2_dev_16_2 %>
</p>

<p>
  <strong>Math2 score 16 3:</strong>
  <%= @pexam.math2_score_16_3 %>
  <strong>Math2 dev 16 3:</strong>
  <%= @pexam.math2_dev_16_3 %>
</p>

<p>
  <strong>Math2 score 16 4:</strong>
  <%= @pexam.math2_score_16_4 %>
  <strong>Math2 dev 16 4:</strong>
  <%= @pexam.math2_dev_16_4 %>
</p>

<p>
  <strong>Genbun score 16 1:</strong>
  <%= @pexam.genbun_score_16_1 %>
  <strong>Genbun dev 16 1:</strong>
  <%= @pexam.genbun_dev_16_1 %>
</p>

<p>
  <strong>Genbun score 16 2:</strong>
  <%= @pexam.genbun_score_16_2 %>
  <strong>Genbun dev 16 2:</strong>
  <%= @pexam.genbun_dev_16_2 %>
</p>

<p>
  <strong>Genbun score 16 3:</strong>
  <%= @pexam.genbun_score_16_3 %>
  <strong>Genbun dev 16 3:</strong>
  <%= @pexam.genbun_dev_16_3 %>
</p>

<p>
  <strong>Kobun score 16 4:</strong>
  <%= @pexam.kobun_score_16_4 %>
  <strong>Kobun dev 16 4:</strong>
  <%= @pexam.kobun_dev_16_4 %>
</p>

<p>
  <strong>Kobun score 16 1:</strong>
  <%= @pexam.kobun_score_16_1 %>
  <strong>Kobun dev 16 1:</strong>
  <%= @pexam.kobun_dev_16_1 %>
</p>

<p>
  <strong>Kobun score 16 2:</strong>
  <%= @pexam.kobun_score_16_2 %>
  <strong>Kobun dev 16 2:</strong>
  <%= @pexam.kobun_dev_16_2 %>
</p>

<p>
  <strong>Kobun score 16 3:</strong>
  <%= @pexam.kobun_score_16_3 %>
  <strong>Kobun dev 16 3:</strong>
  <%= @pexam.kobun_dev_16_3 %>
</p>

<p>
  <strong>Kobun score 16 4:</strong>
  <%= @pexam.kobun_score_16_4 %>
  <strong>Kobun dev 16 4:</strong>
  <%= @pexam.kobun_dev_16_4 %>
</p>

<p>
  <strong>Kanbun score 16 1:</strong>
  <%= @pexam.kanbun_score_16_1 %>
  <strong>Kanbun dev 16 1:</strong>
  <%= @pexam.kanbun_dev_16_1 %>
</p>

<p>
  <strong>Kanbun score 16 2:</strong>
  <%= @pexam.kanbun_score_16_2 %>
  <strong>Kanbun dev 16 2:</strong>
  <%= @pexam.kanbun_dev_16_2 %>
</p>

<p>
  <strong>Kanbun score 16 3:</strong>
  <%= @pexam.kanbun_score_16_3 %>
  <strong>Kanbun dev 16 3:</strong>
  <%= @pexam.kanbun_dev_16_3 %>
</p>

<p>
  <strong>Kanbun score 16 4:</strong>
  <%= @pexam.kanbun_score_16_4 %>
  <strong>Kanbun dev 16 4:</strong>
  <%= @pexam.kanbun_dev_16_4 %>
</p>

<%= link_to '編集', edit_pexam_path(@pexam) %> |
<%= link_to '戻る', pexams_path %>
