<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @exam.student_name %>
</p>

<p>
  <strong>English score 16 1:</strong>
  <%= @exam.english_score_16_1 %>
</p>

<p>
  <strong>English dev 16 1:</strong>
  <%= @exam.english_dev_16_1 %>
</p>

<p>
  <strong>English score 16 2:</strong>
  <%= @exam.english_score_16_2 %>
</p>

<p>
  <strong>English dev 16 2:</strong>
  <%= @exam.english_dev_16_2 %>
</p>

<p>
  <strong>English score 16 3:</strong>
  <%= @exam.english_score_16_3 %>
</p>

<p>
  <strong>English dev 16 3:</strong>
  <%= @exam.english_dev_16_3 %>
</p>

<p>
  <strong>English score 16 4:</strong>
  <%= @exam.english_score_16_4 %>
</p>

<p>
  <strong>English dev 16 4:</strong>
  <%= @exam.english_dev_16_4 %>
</p>

<p>
  <strong>Math1 score 16 1:</strong>
  <%= @exam.math1_score_16_1 %>
</p>

<p>
  <strong>Math1 dev 16 1:</strong>
  <%= @exam.math1_dev_16_1 %>
</p>

<p>
  <strong>Math1 score 16 2:</strong>
  <%= @exam.math1_score_16_2 %>
</p>

<p>
  <strong>Math1 dev 16 2:</strong>
  <%= @exam.math1_dev_16_2 %>
</p>

<p>
  <strong>Math1 score 16 3:</strong>
  <%= @exam.math1_score_16_3 %>
</p>

<p>
  <strong>Math1 dev 16 3:</strong>
  <%= @exam.math1_dev_16_3 %>
</p>

<p>
  <strong>Math1 score 16 4:</strong>
  <%= @exam.math1_score_16_4 %>
</p>

<p>
  <strong>Math1 dev 16 4:</strong>
  <%= @exam.math1_dev_16_4 %>
</p>

<p>
  <strong>Math2 score 16 1:</strong>
  <%= @exam.math2_score_16_1 %>
</p>

<p>
  <strong>Math2 dev 16 1:</strong>
  <%= @exam.math2_dev_16_1 %>
</p>

<p>
  <strong>Math2 score 16 2:</strong>
  <%= @exam.math2_score_16_2 %>
</p>

<p>
  <strong>Math2 dev 16 2:</strong>
  <%= @exam.math2_dev_16_2 %>
</p>

<p>
  <strong>Math2 score 16 3:</strong>
  <%= @exam.math2_score_16_3 %>
</p>

<p>
  <strong>Math2 dev 16 3:</strong>
  <%= @exam.math2_dev_16_3 %>
</p>

<p>
  <strong>Math2 score 16 4:</strong>
  <%= @exam.math2_score_16_4 %>
</p>

<p>
  <strong>Math2 dev 16 4:</strong>
  <%= @exam.math2_dev_16_4 %>
</p>

<p>
  <strong>Genbun score 16 1:</strong>
  <%= @exam.genbun_score_16_1 %>
</p>

<p>
  <strong>Genbun dev 16 1:</strong>
  <%= @exam.genbun_dev_16_1 %>
</p>

<p>
  <strong>Genbun score 16 2:</strong>
  <%= @exam.genbun_score_16_2 %>
</p>

<p>
  <strong>Genbun dev 16 2:</strong>
  <%= @exam.genbun_dev_16_2 %>
</p>

<p>
  <strong>Genbun score 16 3:</strong>
  <%= @exam.genbun_score_16_3 %>
</p>

<p>
  <strong>Genbun dev 16 3:</strong>
  <%= @exam.genbun_dev_16_3 %>
</p>

<p>
  <strong>Kobun score 16 4:</strong>
  <%= @exam.kobun_score_16_4 %>
</p>

<p>
  <strong>Kobun dev 16 4:</strong>
  <%= @exam.kobun_dev_16_4 %>
</p>

<p>
  <strong>Kobun score 16 1:</strong>
  <%= @exam.kobun_score_16_1 %>
</p>

<p>
  <strong>Kobun dev 16 1:</strong>
  <%= @exam.kobun_dev_16_1 %>
</p>

<p>
  <strong>Kobun score 16 2:</strong>
  <%= @exam.kobun_score_16_2 %>
</p>

<p>
  <strong>Kobun dev 16 2:</strong>
  <%= @exam.kobun_dev_16_2 %>
</p>

<p>
  <strong>Kobun score 16 3:</strong>
  <%= @exam.kobun_score_16_3 %>
</p>

<p>
  <strong>Kobun dev 16 3:</strong>
  <%= @exam.kobun_dev_16_3 %>
</p>

<p>
  <strong>Kobun score 16 4:</strong>
  <%= @exam.kobun_score_16_4 %>
</p>

<p>
  <strong>Kobun dev 16 4:</strong>
  <%= @exam.kobun_dev_16_4 %>
</p>

<p>
  <strong>Kanbun score 16 1:</strong>
  <%= @exam.kanbun_score_16_1 %>
</p>

<p>
  <strong>Kanbun dev 16 1:</strong>
  <%= @exam.kanbun_dev_16_1 %>
</p>

<p>
  <strong>Kanbun score 16 2:</strong>
  <%= @exam.kanbun_score_16_2 %>
</p>

<p>
  <strong>Kanbun dev 16 2:</strong>
  <%= @exam.kanbun_dev_16_2 %>
</p>

<p>
  <strong>Kanbun score 16 3:</strong>
  <%= @exam.kanbun_score_16_3 %>
</p>

<p>
  <strong>Kanbun dev 16 3:</strong>
  <%= @exam.kanbun_dev_16_3 %>
</p>

<p>
  <strong>Kanbun score 16 4:</strong>
  <%= @exam.kanbun_score_16_4 %>
</p>

<p>
  <strong>Kanbun dev 16 4:</strong>
  <%= @exam.kanbun_dev_16_4 %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
